<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{[{(user_detail.user_id == undefined|| user_detail.user_id == '') ? 'Add' : 'Update'}]} User</span>
                </div>
                <div class="actions">
                    <button type="button" class="close" ng-click="close_model()" aria-hidden="true"></button>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="create_user" role="form">
                    <input type="hidden" name='user_id' id='user_id' ng-model="user_detail.user_id" />
                    <div class="form-body">                                                    
                        <div class="form-group">
                            <label class="col-md-3 control-label">User name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" required="" ng-model="user_detail.user_name" name="user_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Email address</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control input-inline input-medium" required="" ng-model="user_detail.email" name="email">
                            </div>
                        </div>
                        <div class="form-group" ng-if="(user_detail.user_id == undefined || user_detail.user_id == '')">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control input-inline input-medium" required="" ng-model="user_detail.password" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" ng-click="close_model()" class="btn dark btn-outline">Close</button>
                                <button type="button" class="btn green" ng-click="add_user()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
